* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #030d1c;
}
.container {
  width: 90%;
  margin: auto;
}

.btn {
  padding: 15px 20px;
  background-color: #ff8a08;
  border: 1px solid #ff8a08;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
nav .logo {
  width: 150px;
}

/* movie cards */
table {
  width: 100%;
}
.movie-link {
  display: inline-block;
  width: 100%;
  position: relative;
}
.movie-link:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 13, 28, 0.5);
}
.play-icon {
  color: #ff8a08;
  font-size: 70px;
  position: absolute;
  top: 60%;
  left: 40%;
}
.movie-image {
  width: 100%;
  height: 500px;
}
.movie-name {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* movie details */

main h1 {
  color: #fff;
  margin-bottom: 20px;
}
main h1 a {
  color: #ff8a08;
}
main h1 span {
  color: #908e8e;
}
main .movie-trailer {
  width: 900px;
  margin: auto;
}
main .movie-trailer iframe {
  width: 100%;
}
main h3 {
  color: #ff8a08;
  font-size: 35px;
  margin: 30px 0;
}
main p {
  color: #eee;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 20px;
}
main dl dt {
  color: #ff8a08;
  font-size: 20px;
  margin-bottom: 10px;
}
main dl dd {
  margin-left: 20px;
  color: #fff;
  margin-bottom: 10px;
}
main .rate-icon {
  color: #ff8a08;
}
main .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .actor-card {
  width: 250px;
  height: 300px;
  margin-bottom: 30px;
}
main .actor-card .actor-img {
  width: 100%;
  height: 90%;
}
main .actor-card .actor-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
main .actor-card p {
  text-align: center;
  margin-top: 10px;
}

/* form */
.form-container {
  width: 40%;
  margin: auto;
  border: 1px solid #041329;
  border-radius: 20px;
  padding: 70px 30px;
  background-color: #041329;
}
.form-container .heading {
  text-align: center;
  color: #ff8a08;
  font-size: 35px;
  margin-bottom: 10px;
}
.form-container p {
  color: #908e8e;
  font-size: 20px;
}
.form-container p a{
  color: #ff8a08;
}
form {
  width: 100%;
}
label {
  color: #908e8e;
  font-size: 19px;
}
input ,select,#birth{
  font-size: 19px;
}
form .btn {
  padding: 15px 40px;
}
form .form-row {
  position: relative;
}
.form-check {
  display: flex;
  justify-content: space-between;
}
.form-row,
.form-check {
  margin-bottom: 30px;
}
#email,#pass,#birth,#country{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
} 
#birth,#country{
  margin-top: 15px;
  background-color: #030d1c;
  color: #908e8e;
  padding-left: 10px;
}
#email,
#pass {
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #908e8e;
  transition: all 0.3s;
}
#email:focus,
#pass:focus {
  border-bottom-color: #ff8a08;
}
form .icon {
  color: #908e8e;
  font-size: 19px;
  position: absolute;
  top: 30px;
  right: 15px;
}
/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}
/* Style the custom checkbox */
input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "\2714";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #908e8e;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  color: transparent;
  margin-right: 8px;
}
/* Style checked state */
input[type="checkbox"]:checked + label::before {
  color: #ff8a08;
  border-color: #ff8a08;
}
form .link {
  text-decoration: underline;
  color: #908e8e;
  font-size: 19px;
}
/* form */

/* footer */
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
}
footer p {
  color: #eee;
  font-size: 18px;
}
footer p span {
  color: #ff8a08;
}
